*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: rgb(250, 246, 246);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.HeroNavbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 149px;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Logo h3 {
  color: #173a56;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 93.333% */
}

.NavbarLine {
  display: flex;
  align-items: center;
  gap: 20px;
}
.NavbarLine ul {
  display: flex;
  gap: 20px;
}

.NavbarLine ul li a {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  transition: all 0.5s ease;
}
.NavbarLine ul li a:hover {
  opacity: 0.5;
}
.NavbarLine button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  transition: all 0.8s ease;
}
.NavbarLine button:hover {
  color: #173a56;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #fff;
}
/*! The end Navbar */

/* ! Stared HeaderWrapper style */
.HeaderWrapper {
  display: flex;
  align-items: center;
  padding: 20px 149px;
  margin-top: 20px;
  gap: 33px;
}
.HeaderInfo {
  max-width: 400px;
}

.HeaderInfo h1 {
  color: #22343d;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
}
.HeaderInfo p {
  color: #22343d;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin: 20px 0;
}

.HeaderInfo button {
  border-radius: 4px;
  background: #02897a;
  width: 178.048px;
  height: 53px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border: none;
  line-height: normal;
  margin-right: 20px;
  transition: all 0.6s ease;
}

.HeaderInfo button:hover {
  color: #02897a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  background-color: #fff;
}

.Product {
  background-image: url(./assets/Img/Bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 90px;
}

.ProductHeading h3 {
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 240px;
  padding: 10px 20px 0;
  gap: 20px;
}

.Card span {
  border-radius: 19px;
  background: #02897a;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cards {
  display: flex;
  gap: 46px;
}

.Card .blue {
  background-color: blue;
}
.Card .pink {
  background: #740a76;
}
.Card .orange {
  background: #f03e3d;
}
.Product button {
  border-radius: 4px;
  width: 175px;
  height: 53px;
  flex-shrink: 0;
  background: #02897a;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 60px;
}

.ContentsStrategies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  gap: 32px;
  margin-bottom: 100px;
}

.ContentsStrategiesInfo h2 {
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.ContentsStrategiesInfo p {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}
.ContentsStrategiesCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 348.786px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}
.ContentsStrategiesCard img {
  border-radius: 8px;
}

.ContentsStrategiesCard p {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.ContentsStrategiesCard p span {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.ContentsStrategiesCard h3 {
  color: #22343d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}
.ContentsStrategiesCard h3:hover {
  color: #02897a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}
.ContentsStrategiesCards {
  display: flex;
  gap: 32px;
}
.true {
  background-color: black;
}

.false {
  background-color: #fff;
}
.darkMode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #02897a;
  border-radius: 50%;
  color: #fff;
}
.TableCard {
  width: 323.042px;
  height: 456px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 25px 75px;
}

.Table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.TableInfo h3 {
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.TableInfo p {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.TableCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.TableCard h4 {
  color: #22343d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}
.TableCard p {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}

.TableCard span {
  color: #22343d;

  /* Link */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
}

.TableCard h5 {
  color: #22343d;

  /* Link */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
}
.TableCard button {
  display: inline-flex;
  padding: 11px 19px 11px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #02897a;
  border: none;
  color: #fff;
}
.CardItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.CardItem h2 {
  color: #02897a;
  text-align: center;
  font-family: Poppins;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 131.579% */
  letter-spacing: 0.2px;
}

.CardList span {
  color: #02897a;

  /* Title */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  letter-spacing: 0.1px;
}
.CardList p {
  color: var(--second-text, #afafaf);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 118.75% */
  letter-spacing: 0.1px;
}
.TableCard:hover {
  border-radius: 8px;
  background: #02897a;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.TableCards {
  margin-top: 50px;
  display: flex;
  gap: 70px;
}

.ClientCard {
  width: 327px;
  height: 236px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #dedede;
  background: var(--light-background, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.WhatClientsSay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}
.ClientInfo {
  margin-bottom: 50px;
}
.ClientInfo h2 {
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 167.647% */
  letter-spacing: 0.2px;
}
.ClientInfo p {
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  max-width: 500px;
}
.ClientCard {
  display: flex;
  align-items: start;
  padding: 30px;
  gap: 20px;
  justify-content: start;
  text-align: start;
}

.CardPerson {
  display: flex;
  gap: 10px;
  align-items: center;
}

.CardPerson h3 {
  color: #02897a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}
.ClientCardItem {
  display: flex;
  gap: 64px;
}
.yellov {
  color: yellow;
}
.footer {
  margin-top: 150px;
  margin-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footerCard {
  width: 1110px;
  height: 345px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #02897a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.footerInfo p {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.4%; /* 48.448px */
}

.footerInfo h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.4%; /* 48.448px */
}
.footerInfo button {
  display: inline-flex;
  padding: 13px 35px 7px 33px;
  justify-content: center;
  align-items: center;
  color: #02897a;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

/* ! Landing page responsive style code started */
